include ./includes/header
body.home
	button.play_btn
	include ./includes/footer
script(type='text/javascript', src="/js/remix.js")
//- script(type='text/javascript', src="/vendor/jremix.js")
script(type='text/javascript', src="/js/echo.js")