include ./includes/header
body.home
	.player1.player
		h1.play Start
		h1.stop Stop
	.player2.player
		h1.play2 Start2
		h1.stop2 Stop2

	.visualizer
	include ./includes/footer
script(type='text/javascript', src="/js/test.js")